@using Avior.Base.Helpers
@model Avior.Models.Players.PlayerAddModel

@{
    var command = Model.Command;
    var teams = Model.Teams;
}

@Html.Partial("_ToolbarMasterData", new ViewDataDictionary {
    { "Title", "Spelers / Nieuw" },
    { "isList", true },
})

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container">
            <div class="form-group row">
                <div class="col-md-2">
                    @Resources.Player.LabelName
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(m => command.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => command.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    @Resources.Player.LabelPhone
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(m => command.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => command.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    @Resources.Team.LabelTeam / @Avior.Base.Constants.Season_Id.GetDisplayName()
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(m => command.TeamId, new SelectList(teams, "Value", "Key", command.TeamId), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => command.TeamId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-offset-2 col-md-8">
                    <input type="submit" value="@(Resources.General.LabelSave)" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
