@using Avior.Base.Helpers
@model Avior.Models.Players.PlayerDetailModel

@Html.Partial("_ToolbarMasterData", new ViewDataDictionary {
    { "Title", "Spelers / Details" },
    { "isList", true },
    { "isEdit", true },
    { "Id", Model.Details.Id }
})

<div class="panel panel-default">
    <div class="panel-heading avior-blue-background avior-orange">
        @Resources.Player.LabelPlayer
    </div>
    <div class="panel-body avior-blue">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    @Resources.Player.LabelName
                </div>
                <div class="col-md-6">
                    @Model.Details.Name
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Resources.Player.LabelPhone
                </div>
                <div class="col-md-6">
                    @Model.Details.PhoneNumber
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading avior-blue-background avior-orange">
        @Resources.Team.LabelTeam
    </div>
    <div class="panel-body avior-blue">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    @Resources.Team.LabelName
                </div>
                <div class="col-md-6">
                    @Model.Details.Team.Name
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @(Resources.Team.LabelSeason)
                </div>
                <div class="col-md-6">
                    @Model.Details.Team.Season.GetDisplayName()
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @(Resources.Team.LabelTraining)
                </div>
                <div class="col-md-6">
                    @Model.Details.Team.Training1()
                    @if (!string.IsNullOrEmpty(Model.Details.Team.Training2()))
                    {
                        <text>/</text>
                        @Model.Details.Team.Training2()
                    }
                </div>
            </div>
        </div>
    </div>
</div>
