@using Avior.Base.Helpers
@model Avior.Models.Players.PlayerDetailModel

<nav class="navbar-xs navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="avior-blue navbar-brand" href="#">@Resources.Player.LabelPlayers / @Resources.General.LabelDetails</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href='@Url.Action("Index")'><i class="fa fa-list"></i>@Resources.General.LabelList</a></li>
                <li><a href='@Url.Action("Edit", new { id = Model.Details.ID })'><i class="fa fa-edit"></i>@Resources.General.LabelEdit</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="panel panel-default">
    <div class="panel-heading avior-blue-background avior-orange">
        @Resources.Player.LabelPlayer
    </div>
    <div class="panel-body avior-blue">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    @Resources.Player.LabelName
                </div>
                <div class="col-md-6">
                    @Model.Details.Name
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Resources.Player.LabelPhone
                </div>
                <div class="col-md-6">
                    @Model.Details.PhoneNumber
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading avior-blue-background avior-orange">
        @Resources.Team.LabelTeam
    </div>
    <div class="panel-body avior-blue">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    @Resources.Team.LabelName
                </div>
                <div class="col-md-6">
                    @Model.Details.Team.Name
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @(Resources.Team.LabelSeason)
                </div>
                <div class="col-md-6">
                    @Model.Details.Team.Season.GetDisplayName()
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @(Resources.Team.LabelTraining)
                </div>
                <div class="col-md-6">
                    @Model.Details.Team.Training1()
                    @if (!string.IsNullOrEmpty(Model.Details.Team.Training2()))
                    {
                        <text>/</text>
                        @Model.Details.Team.Training2()
                    }
                </div>
            </div>
        </div>
    </div>
</div>
